<h1>Time to match you with your dream job!</h1>

<%= label_tag(:q, "Search by job type:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %><br>

<b1>Or...</b1><br>

<%= label_tag(:q, "Search by skill type:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>